// стили навигации
.header {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #d2d0d0;
    background-color: white;
    position: fixed;
    width: 100vw;
}

.button {
    margin: 10px;
}